.body {
  align-items: center;
  justify-content: center;
}

#playArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(212,22,26);
  height: 100%;
  border-radius: 30px;
}

#container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  width: 650px;
  height: 650px;
  background-color: rgb(245, 245, 245);
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 30px;
  color: rgb(201,156,64);
  font-style: italic;
  font-family: sans-serif;
}

#sizeSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.gridColumn {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cell {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  border: 1px solid gray;
  
  }

  .drawn {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
    background-color: black;
  }  

